/.Xauthority
/.ICEauthority
/.cache
/.dbus
/Desktop
/dot-files
/examples.desktop
/examples.desktop
/examples.desktop
/fontconfig
/.xsession-errors.old
/.xsession-errors
/.profile
/.local
/.dmrc
/.gconf
/.mozilla
/.parallels
/.config
/.bash_history
/.viminfo
/.bash_logout
/projects
/this.txt
